{% extends 'base.html' %}

{% block content %}

<h1>This is signup.html</h1>


<div class="container">
    <header class="row">
        <!-- Header Image -->
        <div class="col-12 col-md-6">
            <img src="../../static/images/undraw_my_app_re_gxtj.svg" alt="Hero header image" class="header-image">
        </div>
    </header>
    <!-- End of Header Section -->
   
    <div class="container">
        <form action="#">
            <div class="fieldset-div">
                <span id="sign-in">Sign In</span>
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Enter Email">
                <input type="password" id="password" name="password" placeholder="Enter Password">
                <input type="confirm_password" id="confirm_password" name="confirm_password" placeholder="Confirm Password">
                <div>
                    <button class="btn btn-primary">Sign Up</button>
                </div>
            </div>
        </form>
    </div>


    {% endblock content %}
