{% extends 'base.html' %}

{% block content %}

<h1>Sign Up</h1>

<div class="container">
    <header class="row">
        <!-- Header Image -->
        <div class="col-12 col-md-6">
            <img src="../../static/images/undraw_my_app_re_gxtj.svg" alt="Hero header image" class="header-image">
        </div>
    </header>
    <!-- End of Header Section -->

<main class="container">
    <div class="row">
        <aside class="col-12 col-md-6">
            <h2>Create Your Account!</h2>
            {% include 'forms.html' %}
        </aside>
    </div>
</main>



{% endblock content %}

